<!--

1. Lerp approach
2. Independent transform

-->
<div class="app">
  <header class="diamond-header">
    <h1><strong>KEY FRAMER</strong> Diamond Frames</h1>
  </header>
  <div class="quantity">Quantity: ??</div>
  <div class="diamond-slider">
    <div class="slider">
      <input class="slider-input" type="range" name="" id="slider" value="0" min="0" max="15" step="1" />

      <div class="slider-track"></div>

      <div class="slider-thumb"></div>

      <div class="slider-diamond">
        <div class="slider-diamond-inner" data-value="0">
          <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 99 84" width="50">
            <path d="M20 0L1 20l50 63 48-63L80 0H20z" />>
          </svg>
        </div>
      </div>
    </div>
  </div>
  <div class="total">

    <output id="output">0</output>
  </div>
  <div class="checkout">
    <button>Add to Cart</button>
  </div>
</div>

<a href="https://youtu.be/CGfmYWfNbdA" target="_blank" data-keyframers-credit style="color: #000"></a>
<script src="https://codepen.io/shshaw/pen/QmZYMG.js"></script>